# IDE / Editor
.idea/
.vscode/
*.swp
*.iml

# Build outputs
*.class
target/
build/
out/
.gradle/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.*
*.tfvars
.terraform.lock.hcl

# Python
**/__pycache__/
**/*.pyc
**/*.pyo  
**/*.pyd
*.py[cod]

# Virtual Environment
venv/
ENV/
env/
.venv/
.venv*/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
*.sqlite3
instance/

# Environment files
.env
.env.local
.env.*.local

# Project specific paths
backend/data-collection-service/.env
backend/news-api-service/.env
infra/terraform/news-service-dev-nat-key.pem
infra/terraform/news-service-dev-eks-node-key.pem
infra/terraform/kibana_backup.json
infra/terraform/news-service-dev-bastion-key.pem
infra/terraform/karpenter-userdata.tpl
infra/terraform/.terraform.lock.hcl
